<!DOCTYPE html>
<html lang="english" class="content" id="background">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- {% block styleSheets%} -->

    <!-- {% endblock %} -->
    <link rel="stylesheet" href="../public/base.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">



</head>

<body>

    {% block main %}


    {% endblock %}

    <div class="navBar">
        <img src="../img/navbar rectangle.png" alt="NavBar background" class="navBarBackground" />
        <div class="logo">
          <a href="./base.html">
            <button class="hoverLogo">
                <img src="../img/notebook logo.png" alt="notebook logo" />
            </button>
        </a>
        </div>
        <a href="./AllJournals.html">
            <button class="navButton1"><span>Journals</span></button>
        </a>
        <a href="./CreateIdea.html">
            <button class="navButton2"><span>Ideas</span></button>
        </a>
        <a href="./profile.html">
            <button class="navButton3"><span>Profile</span></button>
        </a>
        <a href="./signup.html">
            <button class="navButton4"><span>New Profile</span></button>
        </a>
        <a href="./chooseProfile.html">
            <button class="navButton5"><span>Switch Profile</span></button>
        </a>

    </div>



    <div class="createButton">
        <a href="CreateJournal.html">
            <button class="newBut">
                <span>
                    <img src="../img/quillpen.png" alt="QuillPen2543" />
                </span>
            </button>
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="../public/main.js"></script>
</body>

</html>