<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../public/CreateIdea.css" />
	<title>Create a idea</title>
</head>

<body>
	<h1>Create a idea</h1>
	<form id='articleForm' method='post'>
		<div id="title-box">
			<Label for='title' class='' id='titleLabel'> Title </Label>
			<input type='text' class='ElementOfArticleCreation' id='title-textarea' name='title'
				value='{{article.title}}'>
		</div>
		<div id="description-box">
			<Label for='description' class='' id='descriptionLabel'> Description </Label>
			<textarea name='description' class='ElementOfArticleCreation'
				id='description-textarea'> {{article.description}} </textarea>
		</div>
		<div id="journal-box">
			<Label for='content' class='' id='journalLabel'> Content </Label>
			<textarea name='content' class='journal-box' id='journal-textarea' rows=10> {{article.content}} </textarea>
		</div>
		<button type='submit' class='ElementOfArticleCreation Button' id='submitButton'> Create </button>
	</form>
</body>
<script src="../public/createIdea.js"> </script>

</html>