{% extends "base.html" %}
{% block main %}
<div class="idea idea1">
    <div class="rectangle">
        <span class="title">Escape room Idea</span>
        <span class="body">

            can you do the same with this text? I've got a great idea for a business - an escape room! People would come
            in and have to solve puzzles and riddles to get out. It would be so much fun and...

        </span>
    </div>
</div>
<div class="idea idea2">
    <div class="rectangle">
        <span class="title">Resturant</span>
        <span class="body">

            I just had dinner at new restaurant nearby, and it was amazing! The atmosphere was cozy and inviting, and
            the food was delicious...

        </span>
    </div>
</div>

{% endblock %}